services:
  db:
    image: mysql:8.0
    container_name: mysql-db
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: crud_db
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - appnet

  backend:
    build: ./backend
    container_name: flask-backend
    ports:
      - "5000:5000"
    depends_on:
      - db
    networks:
      - appnet
    environment:
      MYSQL_HOST: db
      MYSQL_USER: root
      MYSQL_PASSWORD: rootpassword
      MYSQL_DB: crud_db

  frontend:
    build: ./frontend
    container_name: html-frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - appnet

volumes:
  mysql-data:

networks:
  appnet: {}

